* {
    margin: 0;
    padding: 0;
}

.mainWrapper {
    min-height: 100%;
    padding-bottom: 60px;
    overflow: hidden;
}

.container {
    padding: 0px 148px;
}

@media (max-width: 935px) {
    .container {
        padding: 0 10%;
    }
}

@media (max-width: 747px) {
    .container {
        padding: 0 5%;
    }
}

@media (max-width: 667px) {
    .container {
        padding: 0 3%;
    }
}

.container--color-blue {
    background-color: #EDF7FA;
}

.header__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 74px;
}

/*Стили навигации*/

.navigation-block--right {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}

.navigation-list {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 469px) {
    .navigation-list {
        display: none;
    }
}

.navigation-block__item {
    display: inline;
    padding-right: 33px;
}

.navigation-block__item:last-child {
    padding-right: 0;
}

.hamburger {
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}

@media (max-width: 469px) {
    .hamburger {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger__line {
    width: 100%;
    height: 3px;
    margin-bottom: 7px;
    background-color: #21243D;
}

.hamburger__line:last-child {
    margin-bottom: 0;
}

.menu {
    position: absolute;
    right: -60%;
    padding: 0 5px;
    padding: 5px;
    transition: right 0.8s;
    display: flex;
    align-items: flex-start;
}

.menu--active {
    right: 10%;
}

.menu__list {
    list-style-type: none;
}

.menu__item {
    box-shadow: 2px 2px 2px #EDF7FA;
    margin-bottom: 3px;
}

.menu__item:hover {
    color: #00A8CC;;
}

.menu__close-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/*Основная часть*/

.profile-info__block {
    margin-bottom: 70px;
}

.resume__row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 667px) {
    .resume__row {
        flex-wrap: wrap-reverse;
    }
}

.resume__column {
    flex-basis: 40%;
}

@media (max-width: 667px) {
    .resume__column {
        flex-basis: 100%;
    }
}

.resume__column--size_extended {
    flex-basis: 60%;
}

@media (max-width: 667px) {
    .resume__column {
        flex-basis: 100%;
    }
}

.resume__item {
    display: flex;
    flex-direction: column;
}

@media (max-width: 667px) {
    .resume__item {
        align-items: center;
        text-align: center;
    }
}

.resume__item_centered {
    align-items: center;
}


.resume__title {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 40px;
}

@media (max-width: 469px) {
    .resume__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 31px
    }
}

.resume__text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
    max-height: 200px;
    overflow: auto;
}

@media (max-width: 469px) {
    .resume__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 31px;
    }
}

.resume__image {
    width: 243px;
    height: 243px;
    background: url("/images/nat5.jpg") center center / cover no-repeat;
    background-color: #EDF7FA;
    border-radius: 50%;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.resume__image img {
    width: auto;
    height: 100%;
    margin: 0 auto;

}

.resume__download-btn {
    width: 208px;
    height: 47px;
    padding-top: 9px;
    box-sizing: border-box;
    background: #FF6464;
    color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

@media (max-width: 469px) {
    .resume__download-btn {
        width: 208px;
        height: 47px;
    }
}

.posts {
    width: 100%;
    padding: 9px 0px 32px 0px;
}

.posts__column-header {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 19px;
    max-height: 120px;
    overflow: hidden;
}

.posts__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 469px) {
    .posts__header-row {
        justify-content: center;
    }
}

.posts__header-title {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    max-width: 80%;
    max-height: 50px;
    overflow: hidden;
}

.posts__header-view-all {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}

@media (max-width: 469px) {
    .posts__header-view-all {
        display: none;
    }
}

.posts__row {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 667px) {
    .posts__row {
        flex-wrap: wrap;
    }
}

.posts__column {
    display: flex;
    flex-basis: 50%;
    margin-right: 20px;
}

@media (max-width: 667px) {
    .posts__column {
        flex-basis: 100%;
    }
}

.posts__column:last-child {
    margin-right: 0;
}

@media (max-width: 667px) {
    .posts__column {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.posts__item {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.posts__column-info {
    margin-bottom: 19px;
}

.posts__column-info-row {
    display: flex;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

/*@media (max-width: 665px) {*/
/*    .posts__column-info-row {*/
/*        font-weight: 400;*/
/*        font-size: 18px;*/
/*        line-height: 26px;*/
/*    }*/
/*}*/

.posts__column-text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 19px;
    max-height: 100px;
    overflow: auto;
}

.posts__delimiter {
    flex-basis: 3%;
    text-align: center;
}

.works__header {
    margin-top: 19px;
    margin-bottom: 19px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;

}

.works__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.works__column {
    margin-bottom: 31px;
}

@media (max-width: 469px) {
    .works__column:last-child {
        margin-bottom: 186px;
    }
}


.works__item {
    display: flex;
}

.works__image {
    max-width: 246px;
}

@media (max-width: 469px) {
    .works__photo {
        padding: 0 3%;
    }

    .works__image {
        width: 100%;
    }
}

@media (max-width: 469px) {
    .works__item {
        flex-direction: column;
    }
}

.works__info {
    padding: 18px 18px 0 18px;
}

.works__info-title {
    margin-bottom: 26px;
}

.works__info-detailed {
    display: flex;
    align-items: baseline;
}

.works__date {
    margin-right: 26px;
    min-width: 62px;
    background: #142850;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    padding: 7px 0;
}

@media (max-width: 667px) {
    .works__date {
        margin-right: 4%;
    }
}

.works__type {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    margin-bottom: 26px;
}

.works__info-text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    max-height: 100px;
    overflow: auto;
}

.works__line {
    margin-top: 31px;
    border: 1px solid #E0E0E0;
}

.socials__row {
    display: flex;
    justify-content: center;
}

.socials__column {
    margin-right: 35px;
}

.socials__column:last-child {
    margin-right: 0px;
}

.footer__socials {
    margin-bottom: 26px;
}

.rights {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}